@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
/* ------------------------------------ VARIABLES ------------------------------------*/

:root{
    --color-verde: #5bff0f;
    --color-negro: #313337;
    --sombra-box:  0 0 2px #ababab;


}

/* ----------------------------- AQUÍ COMIENZA EL NAVBAR -----------------------------*/
html,body{
    background-color: white;
    font-size: 12px;
    font-family: Helvetica;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    background-color: var(--color-verde);
    font-size: 15px;
}

nav ul{
    display: flex;
}

nav li a{
    margin: 5px 10px;
    color: var(--color-negro);
    text-decoration: none;
    font-weight: bold;    
    
}
nav li{
    list-style: none;
}

nav li a:hover{
    color: white;
}


/* ----------------------------- AQUÍ COMIENZA EL MAIN -----------------------------*/

.message-main{
    padding: 15%;
    padding-top: 6%;
    text-align: center;
}

.products-catalogue{
    height: 50px;
    background-image: url("../images/curve.png");
    background-position: center top;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 150px 30%;
}

.product-contain{
    /* border: 1px solid grey; */
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
}

.products-catalogue .product-contain{
    background-color: white;
    padding: 15px;
    box-shadow: var(--sombra-box);
}

.product{
    /* background-color: greenyellow; */
    padding: 10px;
    margin-top: -300px;
}

.main-button{
    background-color: var(--color-verde);
    border-radius: 5px;
    padding: 10px 15px;
    width: 100%;
    color: white;
    border: 1px solid grey;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.main-button:hover{
    background-color: #5e9e22;
}
